# Manipulate using a list.

i) To add new elements to the end of the list

ii) To reverse elements in the list

iii)To display the same list of elements multiple times.

iv) To concatenate two list

v) To sort the elements in the list in ascending order.

In [2]:
mylist = ["white", "blue", "green"]
mylist.append("orange")
print(mylist)

['white', 'blue', 'green', 'orange']

In [3]:
mylist.reverse()
print('Reversed list:', mylist)

Reversed list: ['orange', 'green', 'blue', 'white']

In [4]:
mylist = mylist * 3
print(mylist)

['orange', 'green', 'blue', 'white', 'orange', 'green', 'blue', 'white', 'orange', 'green', 'blue', 'white']

In [6]:
#iv) To concatenate two list
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [7]:
#v) To sort the elements in the list in ascending order.
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

[1, 2, 3]

# 2. Write a Python program to do in the tuples.

i) Manipulate using tuples.

ii) To add new elements to the end of the tuples

iii) To reverse elements in the list

iv) To display the elements of the same tuple multiple times.

v) To concatenate two tuples

vi) To sort the elements in the list in ascending order.

In [8]:
##i) Manipulate using tuples.
#Tuples are immutable, so you can't directly manipulate them. You need to create new tuples with the desired changes.

In [9]:
#ii) To add new elements to the end of the tuples
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4, 5)
print(new_tuple)

(1, 2, 3, 4, 5)

In [10]:
#iii) To reverse elements in the list
my_tuple = (1, 2, 3)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(3, 2, 1)

In [11]:
#iv) To display the elements of the same tuple multiple times.
my_tuple = (1, 2, 3)
new_tuple = my_tuple * 3
print(new_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
#v) To concatenate two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

In [13]:
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [14]:
#vi) To sort the elements in the list in ascending order.
my_tuple = (3, 1, 2)
sorted
my_tuple

(3, 1, 2)

In [16]:
sorted(my_tuple)

[1, 2, 3]

# 3. Write a python program to implement the following using list.

i) Create a list with integers (minimum 10 numbers)

ii) How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv) Command for displaying the values from the list [2:]

v) Command for displaying the values from the list [6]

In [17]:
#i)Create a list with integers (minimum 10 numbers)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#ii) How to display the last number in the list
last_number = my_list[-1]
print("Last number in the list:", last_number)

Last number in the list: 10

In [19]:
#iii) Command for displaying the values from the list [0:4]
slice1 = my_list[0:4]
print("Values from index 0 to 3:", slice1)

Values from index 0 to 3: [1, 2, 3, 4]

In [20]:
#iv) Command for displaying the values from the list [2:]
slice2 = my_list[2:]
print("Values from index 2 to the end:", slice2)

Values from index 2 to the end: [3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#v) Command for displaying the values from the list [6]
value_at_index_6 = my_list[6]
print("Value at index 6:", value_at_index_6)

Value at index 6: 7

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i.To display the elements 10 and 50 from tuple1

ii. To display the length of a tuple1.

iii. To find the minimum element from tuple1.

iv. To add all elements in the tuple1.

v. To display the same tuple1 multiple times.

In [24]:
#i.To display the elements 10 and 50 from tuple1
tuple1 = (10, 50, 20, 40, 30)
element_1 = tuple1[0]
element_2 = tuple1[1]
print("Elements 10 and 50:", element_1, element_2)

Elements 10 and 50: 10 50

In [25]:
#ii. To display the length of a tuple1.
length_of_tuple1 = len(tuple1)
print("Length of tuple1:", length_of_tuple1)

Length of tuple1: 5

In [26]:
#iii. To find the minimum element from tuple1.
min_element = min(tuple1)
print("Minimum element in tuple1:", min_element)

Minimum element in tuple1: 10

In [27]:
# iv. Add all elements in tuple1
sum_of_elements = sum(tuple1)
print("Sum of elements in tuple1:", sum_of_elements)

Sum of elements in tuple1: 150

In [28]:
# v. Display tuple1 multiple times
repeated_tuple = tuple1 * 3
print("tuple1 repeated 3 times:", repeated_tuple)

tuple1 repeated 3 times: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

5. Write a Python program:

i. To calculate the length of a string

ii. To reverse words in a string

iii. To display the same string multiple times

Iv. To concatenate two strings Str1=" South India", using string slicing to display "India"

In [3]:
# i. Calculate the length of a string
my_string = "Hello, World!"
length_of_string = len(my_string)
print("Length of the string:", length_of_string)

Length of the string: 13

In [4]:
# ii. Reverse words in a string
txt=my_string[::-1]

print(txt)

!dlroW ,olleH

In [5]:
# iii. Display the same string multiple times
string_repeated = my_string * 3
print("String repeated 3 times:", string_repeated)

String repeated 3 times: Hello, World!Hello, World!Hello, World!

In [8]:
# iv. Concatenate two strings and display "India"
str1 = "South India"
substring = str1[6:]  
print("Concatenated string and 'India' extracted:", substring)

Concatenated string and 'India' extracted: India

# 
6. Perform the following:

i. Creating the Dictionary.

ii. Accessing values and keys in the Dictionary.

iii. Updating the dictionary using a function.

iv. Clear and delete the dictionary values.

In [9]:
# i. Creating the Dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

In [10]:
# ii. Accessing values and keys in the Dictionary
name_value = my_dict["name"]  # Accessing the value associated with the key "name"
age_value = my_dict["age"]    # Accessing the value associated with the key "age"
city_value = my_dict["city"]  # Accessing the value associated with the key "city"

In [11]:
name_value

'John'

In [12]:
age_value

30

In [13]:
city_value

'New York'

In [14]:
# iii. Updating the dictionary using a function
def update_age(new_age):
    my_dict["age"] = new_age

update_age(32)
print("\nUpdated age:", my_dict["age"])

Updated age: 32

In [15]:
# iv. Clear and delete the dictionary values
my_dict.clear()  
print("\nDictionary after clear:", my_dict)

Dictionary after clear: {}

In [16]:
del my_dict

# 7. Python program to insert a number to any position in a list.

In [17]:
def insert_number_to_list(lst, num, position):
    if position < 0 or position > len(lst):
        print("Invalid position. Position should be between 0 and", len(lst))
    else:
        lst.insert(position, num)
        print("Number", num, "inserted at position", position)
        print("Updated list:", lst)

# Example usage:
my_list = [1, 2, 3, 4, 5]
insert_number_to_list(my_list, 10, 2)

Number 10 inserted at position 2
Updated list: [1, 2, 10, 3, 4, 5]

#8. Python program to delete an element from a list by index.

In [18]:
def delete_element_by_index(lst, index):
    if index < 0 or index >= len(lst):
        print("Invalid index. Index should be between 0 and", len(lst) - 1)
    else:
        deleted_element = lst.pop(index)
        print("Element", deleted_element, "at index", index, "has been deleted.")
        print("Updated list:", lst)

my_list = [1, 2, 3, 4, 5]
delete_element_by_index(my_list, 2)

Element 3 at index 2 has been deleted.
Updated list: [1, 2, 4, 5]

# 9. Write a program to display a number from 1 to 100.

In [21]:
for number in  range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python program to find the sum of all items in a tuple.

In [23]:
mytuple = (1, 2, 3, 4, 5)
total = sum(mytuple)
print("Sum of all items in the tuple:", total)

Sum of all items in the tuple: 15

# 11. Create a dictionary containing three lambda functions square, cube and square root.

i) Eg. dict("Square": function for squaring. 'Cube': function for cube, 'Squareroot":function for square root)

ii) Pass the values (input from the user) to the functions in the dictionary respectively.

iii) Then add the outputs of each function and print it.

In [24]:
import math

# Create a dictionary with lambda functions
functions_dict = {
    "Square": lambda x: x ** 2,
    "Cube": lambda x: x ** 3,
    "Square Root": lambda x: math.sqrt(x)
}

# Input values from the user
user_input = float(input("Enter a number: "))

# Initialize a variable to store the sum of outputs
result_sum = 0

# Apply each function and add the outputs to the result_sum
for function_name, function in functions_dict.items():
    output = function(user_input)
    print(f"{function_name} of {user_input} is {output}")
    result_sum += output

print("Sum of the outputs:", result_sum)

Enter a number: 4
Square of 4.0 is 16.0
Cube of 4.0 is 64.0
Square Root of 4.0 is 2.0
Sum of the outputs: 82.0

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

Is['hello', 'Dear', 'how', 'ARe', 'You']

In [25]:
word_list = ['hello', 'Dear', 'how', 'ARe', 'You']

result_words = []

for word in word_list:
    if len(word) > 1 and word[1].isupper():
        result_words.append(word)

print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: ['ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon = (wEarth * GMoon)/GEarth

り

i) #Weight of people in kg

WeightOnEarth (John':45, "Shelly':65, "Marry":35)

ii) #Gravitational force on the Moon: 1.622 m/s2

GMoon 1.622

iii) #Gravitational force on the Earth: 9.81 m/s2

GEarth-9.81