# Manipulate using a list.

i) To add new elements to the end of the list

ii) To reverse elements in the list

iii)To display the same list of elements multiple times.

iv) To concatenate two list

v) To sort the elements in the list in ascending order.

In [2]:
mylist = ["white", "blue", "green"]
mylist.append("orange")
print(mylist)

['white', 'blue', 'green', 'orange']

In [3]:
mylist.reverse()
print('Reversed list:', mylist)

Reversed list: ['orange', 'green', 'blue', 'white']

In [4]:
mylist = mylist * 3
print(mylist)

['orange', 'green', 'blue', 'white', 'orange', 'green', 'blue', 'white', 'orange', 'green', 'blue', 'white']

In [6]:
#iv) To concatenate two list
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [7]:
#v) To sort the elements in the list in ascending order.
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

[1, 2, 3]

# 2. Write a Python program to do in the tuples.

i) Manipulate using tuples.

ii) To add new elements to the end of the tuples

iii) To reverse elements in the list

iv) To display the elements of the same tuple multiple times.

v) To concatenate two tuples

vi) To sort the elements in the list in ascending order.

In [8]:
##i) Manipulate using tuples.
#Tuples are immutable, so you can't directly manipulate them. You need to create new tuples with the desired changes.

In [9]:
#ii) To add new elements to the end of the tuples
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4, 5)
print(new_tuple)

(1, 2, 3, 4, 5)

In [10]:
#iii) To reverse elements in the list
my_tuple = (1, 2, 3)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(3, 2, 1)

In [11]:
#iv) To display the elements of the same tuple multiple times.
my_tuple = (1, 2, 3)
new_tuple = my_tuple * 3
print(new_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
#v) To concatenate two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

In [13]:
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [14]:
#vi) To sort the elements in the list in ascending order.
my_tuple = (3, 1, 2)
sorted
my_tuple

(3, 1, 2)

In [16]:
sorted(my_tuple)

[1, 2, 3]

# 3. Write a python program to implement the following using list.

i) Create a list with integers (minimum 10 numbers)

ii) How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv) Command for displaying the values from the list [2:]

v) Command for displaying the values from the list [6]

In [17]:
#i)Create a list with integers (minimum 10 numbers)
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#ii) How to display the last number in the list
last_number = my_list[-1]
print("Last number in the list:", last_number)

Last number in the list: 10

In [19]:
#iii) Command for displaying the values from the list [0:4]
slice1 = my_list[0:4]
print("Values from index 0 to 3:", slice1)

Values from index 0 to 3: [1, 2, 3, 4]

In [20]:
#iv) Command for displaying the values from the list [2:]
slice2 = my_list[2:]
print("Values from index 2 to the end:", slice2)

Values from index 2 to the end: [3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#v) Command for displaying the values from the list [6]
value_at_index_6 = my_list[6]
print("Value at index 6:", value_at_index_6)

Value at index 6: 7

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i.To display the elements 10 and 50 from tuple1

ii. To display the length of a tuple1.

iii. To find the minimum element from tuple1.

iv. To add all elements in the tuple1.

v. To display the same tuple1 multiple times.

In [24]:
#i.To display the elements 10 and 50 from tuple1
tuple1 = (10, 50, 20, 40, 30)
element_1 = tuple1[0]
element_2 = tuple1[1]
print("Elements 10 and 50:", element_1, element_2)

Elements 10 and 50: 10 50

In [25]:
#ii. To display the length of a tuple1.
length_of_tuple1 = len(tuple1)
print("Length of tuple1:", length_of_tuple1)

Length of tuple1: 5

In [26]:
#iii. To find the minimum element from tuple1.
min_element = min(tuple1)
print("Minimum element in tuple1:", min_element)

Minimum element in tuple1: 10

In [27]:
# iv. Add all elements in tuple1
sum_of_elements = sum(tuple1)
print("Sum of elements in tuple1:", sum_of_elements)

Sum of elements in tuple1: 150

In [28]:
# v. Display tuple1 multiple times
repeated_tuple = tuple1 * 3
print("tuple1 repeated 3 times:", repeated_tuple)

tuple1 repeated 3 times: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

5. Write a Python program:

i. To calculate the length of a string

ii. To reverse words in a string

iii. To display the same string multiple times

Iv. To concatenate two strings Str1=" South India", using string slicing to display "India"

In [3]:
# i. Calculate the length of a string
my_string = "Hello, World!"
length_of_string = len(my_string)
print("Length of the string:", length_of_string)

Length of the string: 13

In [4]:
# ii. Reverse words in a string
txt=my_string[::-1]

print(txt)

!dlroW ,olleH

In [5]:
# iii. Display the same string multiple times
string_repeated = my_string * 3
print("String repeated 3 times:", string_repeated)

String repeated 3 times: Hello, World!Hello, World!Hello, World!

In [8]:
# iv. Concatenate two strings and display "India"
str1 = "South India"
substring = str1[6:]  
print("Concatenated string and 'India' extracted:", substring)

Concatenated string and 'India' extracted: India